
body{font-family: 'Noto Sans KR',san-serif;}
a{text-decoration: none;color:#e4002b;cursor: pointer;}
#web_only{
  display: none; margin: 0 auto;
}
h1{font-size: 1.5rem;color:#fff;position:absolute;bottom: 5%;padding: 5% 5%;
    line-height: 2.3rem;
    letter-spacing: -0.04rem;
    font-weight: 500;
    z-index: 2;
  }
section{width:100%; height: 1200px; margin: 0 auto;background-color: #fff;}
#always{
  width:100%;height: 50px; position: fixed; right: 2%;bottom: 3%;text-align: right;
}
.always_btn{
  border:1px solid #f00; border-radius: 25px; width: 100px; height: 50px;display: inline-block;text-align: center; line-height: 50px;
}
.always_btn > span {color: red;}
.red{color:#f00;font-family: 'Kanit', sans-serif;}
.red_only{color:#f00;}

.s2{}
.s3{background: url(catch02.png) no-repeat no-repeat; background-size: cover;}
.s3_11{}
.s3_2>div{position: relative;z-index: 0;text-align: center;}
.s4{}
.hs4{background-color: #5b5b5b;}
.hs8, .hs10, .hs11{background-color: #5b5b5b;}
.s9{background: url(s3.png) no-repeat no-repeat; background-size: cover;}
/* --text -- */
.s1>p{position:absolute;top:10%;left:5%;color:#3e3e3e;font-size: 1.5rem;}
.s2>p{position:absolute;top:10%;left:5%;color:#3e3e3e;font-size: 1.5rem;}
.s3>p{position:absolute;top:40%;left: 50%; transform: translate(-50%,0);color:#fff;font-size: 2rem;}
.s3t_{position:absolute;top:10%;left:5%;color:#fff;font-size: 1.5rem;z-index: 10;}
.s3_11>.s3t_{position:absolute;top:10%;left:5%;color:#3e3e3e;font-size: 1.5rem;z-index: 10;}
.s3_11>p{position:absolute;top:40%;left: 50%; transform: translate(-50%,0);color:#fff;font-size: 2rem;z-index: 10;}
.s4p{position:absolute;top:10%;left:5%;color:#3e3e3e;font-size: 1.5rem;z-index: 1}
.logo_btn_box{width:50%;text-align: right;display: inline-block;margin-right: 5%;}
.logo_btn_box > a{text-decoration: none;color:#f00;display: inline-block;}
.logo_btn01{color:#3e3e3e;font-size: 1rem;border: 1px solid #303030;width: 100%;height: 40px;border-radius: 50px;text-align: center;line-height: 40px;margin: 0 20px;}
a.latest{text-decoration: none;color:#f00;display: inline-block;margin-left:5%;}

.s3_1{width: 100%;text-align: center;}
.s3_1 img{width:80%;}
.s3_2 img{width:80%;}
.s4i{width: 100%;text-align: center;}
.s4i>img{width: 80%;}
.s5>div{width: 100%;text-align: center;}
.s5>div>img{width:60%;}
.s5>p{position:absolute;top:10%;left:5%;color:#3e3e3e;font-size: 1.5rem;}

.s6>p{position:absolute;top:10%;left:5%;color:#3e3e3e;font-size: 1.5rem;}
.s7>p{position:absolute;top:10%;left:5%;color:#3e3e3e;font-size: 1.5rem;}
.s7>div>img{width:90%;}
.s8>p{position:absolute;top:10%;left:5%;color:#3e3e3e;font-size: 1.5rem;}

.colorbox00{width: 80%;margin: 0 auto;text-align: center;margin-top: 5%;}
.colorbox{width:100%;height:150px;filter: drop-shadow(4px 4px 4px #000;);margin: 50px 50px;text-align: left; line-height: 150px;}
.color_box01{background-color: #303030;color:#fff;}
.color_box02{background-color:#fff}
.color_box03{background-color:#e4002a;color:#fff;}
.color_box04{background-color:#6cff00;}

.s1t{color: #3e3e3e;}
.s2t{color: #3e3e3e;font-family: 'Kanit', 'Noto Sans KR',san-serif;font-weight: 300;}
.s3t{color: #fff;}
.s3_11>.s3t{color: #3e3e3e;}
.s3_2t{color: #3e3e3e;}
.s4t{color: #3e3e3e;}
.s5t{color: #3e3e3e;}
.s6t{color: #3e3e3e;}
.context_img{margin-left: 50%; transform: translate(-50%,0);}
.s5>div.t_dwn{position:absolute;color:#3e3e3e;font-size: 1.5rem;text-align: left;top:20%;left:5%;}
.s3_1>div.t_dwn{position:absolute;color:#3e3e3e;font-size: 1.5rem;text-align: left;top:20%;left:5%;z-index: 11;border: 1px solid #e4002b;border-radius: 1.5rem;padding:0 10px;}
.t_dwn>p{font-size: 1rem; color:#e4003b;cursor: pointer;}


/* button */
.b_box{
  position: absolute;bottom: 5%;margin: 50% 0 0 50% ; transform: translate(-50%,-50%);
}
.btn01 , .btn02, .btn03, .btn04{
  cursor: pointer; width:200px;height:50px;border: 1px solid #5e5e5e;
  border-radius: 50px;margin: 1% auto;vertical-align: bottom;font-size: 1em;
  line-height: 50px;text-align: center;display: inline-block;
}

@keyframes active {
  0% {
    top: 40%;
  }
  25% {
    top: 30%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 40%;
  }
}
/* -- 상세페이지 --*/
.dummy{width:100%; height: 300px;}
.detail_box{
  width:30%; height:100%;overflow:scroll;text-align: center;display: inline-block;border-right:0px solid #303030;
}
.detail_box video{margin: -3px auto;}
.detail_fix{
  position: fixed;bottom:0;right:9%;width:31%;
}

/* -- 펀타지 --*/
.funtasy_main{
width: 100%;overflow: scroll;
}
.funtasy_main>img{width:100%;}

.countdown-timer-wrapper {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  max-width: 300px;
  margin: 20px auto;
}

.countdown-timer-wrapper h5 {
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 10px;
  text-shadow: none;
  color: #fff;
}

.countdown-timer-wrapper .timer {
  padding: 10px;
  text-align: center;
  padding-top: 15px;
}

.countdown-timer-wrapper .timer .timer-wrapper {
  display: inline-block;
  width: 60px;
  height: 50px;
}

.countdown-timer-wrapper .timer .timer-wrapper .time {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.countdown-timer-wrapper .timer .timer-wrapper .text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}



/*-------- 미디어쿼리-------- */

/* 768px 이하일 때 */
@media screen and (max-width: 768px) {
	/* 스타일 */
  h1{font-size: 1em;}
  .main{display: none !important;}
  #web_only{display: block;text-align: center;margin-top: 40%;}
}

/* 768px 이상일 때 */
@media screen and (min-width: 768px) {
	/* 스타일 */

}

/* 992px 이상일 때 */
@media screen and (min-width: 992px) {
	/* 스타일 */
}

/* 1200px 이상일 때 */
@media screen and (min-width: 1200px) {
	/* 스타일 */
}
